@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
body {
  font-family: "Open Sans", sans-serif; }

a:hover {
  text-decoration: none; }

h1 {
  font: 300 34px "Open Sans", sans-serif;
  color: #4e6354; }

h2 {
  font: 600 24px "Open Sans", sans-serif;
  color: #4e6354; }

h3 {
  font: 300 24px "Open Sans", sans-serif;
  color: #4e6354; }

/* CUSTOM GRID */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-md-15 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }
/* NAVIGATION */
.dropdown:hover .dropdown-menu {
  display: block; }

ul.navbar-nav > li > ul {
  display: none; }

.navbar-brand {
  height: 68px;
  padding: 12px 15px; }

.navbar-brand > img {
  width: 170px; }

.navbar-inverse {
  border: none;
  background: none; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font: 600 16px "Open Sans", sans-serif; }

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #4e6354; }

.navbar-inverse .navbar-nav > .open > a {
  background-color: rgba(255, 255, 255, 0.8);
  color: #4e6354; }

.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #4e6354; }

.navbar-nav > li > a.search {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  padding: 5px;
  width: 32px;
  top: 20px;
  margin-left: 10px; }

.navbar-nav > li > a.search > i {
  position: relative;
  left: 4px; }

.navbar-inverse .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.53); }

/* HOME HERO */
.home-hero {
  background: url(../img/home-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 620px;
   }

.hero-cta h1 {
  font: 600 36px "Open Sans", sans-serif;
  color: #fff;
  margin-top: 44px; }
.hero-cta h2 {
  font: 600 24px "Open Sans", sans-serif;
  color: #fff;
  margin-top: 44px; }
.hero-cta p {
  font: 300 22px "Open Sans", sans-serif;
  color: #fff;
  margin: 32px 0px; }
.hero-cta a {
  color: #fff;
  background-color: #39b54a;
  border-radius: 6px;
  padding: 21px 53px;
  font: 600 16px "Open Sans", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 25px; 0 }
.hero-cta a:hover {
  background-color: #229131; }

.hero-image {
  height: 550px; }

.hero-image img {
  position: relative;
  top: 32px; }

/* ICONS */
.icon {
  margin: 44px 0px 44px 0px; }
  .icon span {
    height: 120px;
    width: 100%;
    display: block; }
  .icon h2 {
    text-align: center;
    font: 600 22px "Open Sans", sans-serif;
    color: #4e6354;
    margin-bottom: 22px; }
  .icon h3 {
    text-align: center;
    font: 600 16px "Open Sans", sans-serif;
    color: #4e6354;
    margin-bottom: 22px;
    text-transform: uppercase; }
  .icon i {
    font: 600 italic 16px "Open Sans", sans-serif;
    color: #4e6354; }

.icon-solutions {
  margin: 12px 0px; }
  .icon-solutions span {
    height: 80px;
    display: inline-block;
    width: 100%; }
  .icon-solutions h2 {
    text-align: center;
    font: 600 14px "Open Sans", sans-serif;
    color: #4e6354;
    text-transform: uppercase;
    line-height: 15px;
    margin: 0px; }

.icon-cta {
  text-align: center; }
  .icon-cta a {
    color: #fff;
    background-color: #0072bc;
    border-radius: 6px;
    padding: 11px 55px;
    font: 600 16px "Open Sans", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin: 22px 0px 22px 0px; }
  .icon-cta a:hover {
    background-color: #025992; }

.icon-lock {
  background: url(../img/icons/icon-lock.png) no-repeat center center;
  background-size: 120px 120px; }

.icon-target {
  background: url(../img/icons/icon-target.png) no-repeat center center;
  background-size: 120px 120px; }

.icon-alert {
  background: url(../img/icons/icon-alert.png) no-repeat center center;
  background-size: 120px 120px; }

.icon-incidents {
  background: url(../img/icons/icon-alert.png) no-repeat center center;
  background-size: 80px 80px; }

.icon-traceability {
  background: url(../img/icons/icon-traceability.png) no-repeat center center;
  background-size: 80px 80px; }

.icon-analytics {
  background: url(../img/icons/icon-analytics.png) no-repeat center center;
  background-size: 80px 80px; }

.icon-grm {
  background: url(../img/icons/icon-grm.png) no-repeat center center;
  background-size: 80px 80px; }

.icon-engagement {
  background: url(../img/icons/icon-engagement.png) no-repeat center center;
  background-size: 80px 80px; }

.icon-core {
  background: url(../img/icons/icon-core.png) no-repeat center center;
  background-size: 80px 80px; }

.icon-transparent {
  opacity: 0.3; }

/* SECTIONS */
.section-hero {
  background: blue;
  height: 760px;
  position: relative;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px; }
  .section-hero p {
    font-size: 18px; }

.section-overlay {
  background: rgba(255, 255, 255, 0.9);
  height: auto;
  margin: 0px;
  padding: 22px 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 10; }

.callout h2 {
  text-align: center;
  font: 600 22px "Open Sans", sans-serif;
  color: #4e6354;
  margin-bottom: 22px; }
.callout p {
  font-size: 14px; }

.protect {
  background: url(../img/protect-hero.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .protect h1, .protect p {
    color: #4e6354; }

.channels {
  background: url(../img/channels-hero.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.react {
  background: url(../img/react-hero.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .react h1, .react p {
    color: #4e6354; }

/* TESTIMONIALS */
.testimonials {
  background-color: #f1f1f1;
  height: auto;
  text-align: center; }
  .testimonials p {
    font: 300 italic 26px "Open Sans", sans-serif;
    color: #585858; }
  .testimonials span {
    font: 300 16px "Open Sans", sans-serif;
    text-transform: uppercase; }
  .testimonials img {
    height: 72px;
    margin: 44px 0px; }
  .testimonials p {
    height: 144px; }

.client-logo {
  height: 200px; }

.client-logo img {
  height: 140px;
  width: 140px; }

/* SOLUTIONS */
.sticky-nav {
  height: 160px;
  min-height: 160px; }

.sticky-nav-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); }

.sticky-nav-replacer {
  min-height: 160px; }

.solutions-anchor {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden; }

.solutions-section h2 {
  font: 600 24px "Open Sans", sans-serif;
  color: #4e6354;
  margin-top: 44px; }
.solutions-section p {
  font: 300 18px "Open Sans", sans-serif;
  color: #4e6354;
  margin: 32px 0px; }
.solutions-section a {
  color: #fff;
  background-color: #39b54a;
  border-radius: 6px;
  padding: 10px 34px;
  font: 600 16px "Open Sans", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 44px; }
.solutions-section ul {
  margin: 0px 0px 44px 32px; }
.solutions-section ul > li {
  font: 600 18px "Open Sans", sans-serif;
  color: #4e6354;
  padding: 8px 0px; }
.solutions-section .fa-li {
  top: 12px;
  color: #75a280; }

/* HOME HERO */
.solutions-hero {
  background: url(../img/solutions-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 680px; }

.hero-image {
  height: 550px; }

.hero-image img {
  position: relative;
  top: 32px; }

/* COMPANY */
.company-hero {
  background: url(../img/solutions-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 580px; }

.fl-vid {
  margin-top: 50px; }

.company-cta {
  padding: 44px 0px; }
  .company-cta a {
    color: #fff;
    background-color: #39b54a;
    border-radius: 6px;
    padding: 21px 53px;
    font: 600 16px "Open Sans", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin: 22px; }

.about-us h1 {
  margin: 22px 0px;
  text-align: center; }
.about-us ul {
  margin: 0px 0px 44px 32px; }
.about-us ul > li {
  font: 600 18px "Open Sans", sans-serif;
  color: #4e6354;
  padding: 8px 0px; }
.about-us .fa-li {
  top: 12px;
  color: #75a280; }
  .about-us .center {
    text-align: center;
    font-weight: bold;
   margin: 0px;
   font-size: 18px;
  }

  .col-md-offset-1 {
    margin-left: 0 !important;
  }

  .about-us p {
font-size: 18px;
line-height: 26px;

  }

  .about-us .center-wrap{
padding: 20px 0;

  }
.about-us-stats {
  background: url("../img/about-stats-bg.jpg")  no-repeat center center fixed;
text-align: center;
  height:959px;
  background-size: 100% 100%;

}
.about-us .large-white {

  font-size: 45px;
  color: #fff;
  padding-top: 50px;
}

.about-us .large-green {
font-size: 45px;
color: #39b54a;

}

.inner-wrapper {
width:1135px;
margin: 0 auto;
padding: 0;
}

.inner-wrapper2 {
width: 920px;
margin: 0 auto;
padding: 0;

}


.bubble {
background: url("../img/chat-bubble.png") no-repeat;
width: 1135px;
height:379px;
padding: 75px 55px 0 55px;
margin: 30px auto 70px auto;
}

.large-number {
  font-size: 72px;
  font-weight: bold;
  color: #39b54a;
}
.capital-large {
 color: #424242;
 text-transform: uppercase;
 font-size: 26px;
}
p.checks  {
font-size: 31px !important;
font-weight: regular;
color:#fff;
text-align: left;
line-height: 34px;
padding: 0 0 30px 0;

}

.checks i {
  font-size: 80px;
  float: left;
  padding: 0 20px 0 0;
}

.about-us .values p {
font-size: 22px;
line-height: 35px;

}

.values div {
padding: 0 40px;
text-align: center;


}

.values h2 {
  font-size: 28px;
  color: #39b54a;
}

.values {
margin-top: 60px;

}


.tagline {
  font: 700 italic 18px "Open Sans", sans-serif;
  color: #4e6354;
  text-align: center;
  margin: 44px 0px; }

footer {
  padding: 44px 0px;
  color: #a1a1a1; }
  footer li {
    padding: 4px 0px; }
  footer li:first-child {
    font: 600 22px "Open Sans", sans-serif; }

.footer-wrapper {
  background-color: #f9f9f9; }

.traceability {
  background: url(../img/traceability-hero.png) no-repeat -46px center;
  background-size: 90%;
  background-color: #f5f5f5;
  /*  height: 680px;*/ }

.analytics {
  background-color: #f5f5f5; }

.core {
  background-color: #f5f5f5; }

.core .table-body {
  background-color: #fff; }

/* LEGAL */
.legal-hero {
  height: 70px;
  background-color: #162d1d; }

.legal-text {
  padding: 22px 0px; }

/* CONTACT */
.contact-hero {
  background: url(../img/home-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.contact-us {
  margin: 44px 0px;
  color: #fff; }
  .contact-us button {
    color: #fff;
    background-color: #39b54a;
    border-radius: 6px;
    padding: 10px 34px;
    font: 600 16px "Open Sans", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    border: none; }
  .contact-us input {
    opacity: 0.5; }
  .contact-us textarea {
    opacity: 0.5; }
  .contact-us p {
    margin-top: 16px;
    padding: 22px 22px 0px 22px; }
  .contact-us h1 {
    font: 300 36px "Open Sans", sans-serif;
    color: #fff;
    margin-bottom: 22px; }
  .contact-us form {
    padding: 22px; }

.contact-form {
  background-color: rgba(255, 255, 255, 0.1); }

.address-phone ul {
  margin: 22px 0px; }
.address-phone li {
  line-height: 24px;
  margin-bottom: 22px;
  color: rgba(255, 255, 255, 0.7); }
.address-phone li:first-child {
  color: #fff;
  padding-top: 14px; }
.address-phone i {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 2px;
  padding-right: 8px; }
.address-phone span {
  position: relative;
  left: 24px; }
.address-phone a {
  color: rgba(255, 255, 255, 0.7); }
.address-phone a:hover {
  color: #75a280; }

/* BENEFITS INDUSTRIES */
.benefits-hero {
  background: url(../img/solutions-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70px; }

.benefits h4 {
  margin: 22px 0px 0px 0px;
  font: 700 "Open Sans", sans-serif;
  color: #75a280; }

.benefits-overview ul {
  margin: 22px 0px 22px 32px; }
.benefits-overview ul > li {
  font: 600 18px "Open Sans", sans-serif;
  color: #4e6354;
  padding: 8px 0px; }
.benefits-overview .fa-li {
  top: 12px;
  color: #75a280; }

.benefits-anchor {
  display: block;
  position: relative;
  visibility: hidden; }

.benefits .img-responsive {
  max-width: 140%; }

.price-table {
  margin: 18px 30px; }
  .price-table th, .price-table td {
    border: 1px solid #fff; }
  .price-table ul {
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    color: #4e6354; }
  .price-table li {
    padding: 8px 0px; }
  .price-table ul > li:first-child {
    list-style-type: none;
    position: relative;
    left: -38px; }
  .price-table ul > li > ul > li:first-child {
    list-style-type: circle;
    position: relative;
    left: 0px; }
  .price-table span {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 8px 16px 4px 16px; }
  .price-table h3 {
    margin: 0px;
    padding: 0px 16px 8px 16px; }
  .price-table p {
    padding-left: 16px; }

.table-body {
  background-color: #f5f5f5;
  vertical-align: top; }

.price-table-header {
  background-color: #d0d5d2;
  color: #4e6354; }

.price-table-footer {
  background-color: #4e6354;
  height: 124px; }
  .price-table-footer span {
    color: #fff; }
  .price-table-footer h1 {
    color: #ffb600;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    font-size: 28px; }
  .price-table-footer p {
    color: #fff;
    font-size: 12px;
    padding-right: 32px; }

/* RESPONSIVE PROPERTIES */
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 24px 20px; }

  .navbar-nav {
    float: right; } }
@media (max-width: 992px) {
  .sticky-nav {
    height: 150px;
    min-height: 150px; }

  .icon-solutions {
    margin: 12px 0px; }
    .icon-solutions span {
      height: 80px;
      display: inline-block;
      width: 100%; }
    .icon-solutions h2 {
      text-align: center;
      font: 600 12px "Open Sans", sans-serif;
      color: #4e6354;
      text-transform: uppercase;
      line-height: 15px;
      margin: 0px; }

  .hero-image {
    display: none; }

  .solutions-hero {
    height: auto; }

  .traceability {
    background-image: none; }

  .section-hero {
    height: auto; }

  .section-overlay {
    position: relative; } }

/*# sourceMappingURL=style.css.map */
